<!DOCTYPE html>
<html>
    <head>
        <title>About Us Section</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="about.css">
    </head>
    <body>
        <div class="heading">
            <h1>About Us</h1>
            <p>"Book Buddy"-The Library Mangement System </p>
        </div>
        <div class="container">
            <section class="about">
                <div class="about-image">
                    <img src="librd.jpeg">
                </div>
                <div class="about-content">
                    <h2>"The world is quite here"</h2>
                    <p>Book Buddy aims to enhance the efficiency of library management system. It provides an organised and user-friendly platform. It manages books,track lending,return transactions and also faciliate easy access to library resources. Readers can conveniently explore library resource,check availability and can borrow desired books. </p>
                    <!-- <a href="" class="read-more">Read More..</a> -->
                </div>
            </section>
        </div>
    </body>
</html>
