{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Book Buddy</title>
	<link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<script src="{% static 'bb/js/script.js' %}"></script>
</head>
<body>
	<header>
		<h1>Welcome to Book Buddy</h1>
	</header>
	<div class="main">
		<nav>
			<ul>
				<li><a href="{% url 'user' %}">Register</a></li>
				<li><a href="{% url 'login' %}">Login</a></li>
				<li><a href="{% url 'adminlogin' %}">Admin Login</a></li>
				<li><a href="{% url 'about' %}">About</a></li>
				<li><a href="{% url 'report' %}">Reports</a></li>
			</ul>
	    </nav>   
   </div>	
   <form action="{% url 'search_books' %}" method="GET">
	<input type="text" name="q" placeholder="Search books...">
	<button type="submit">Search</button>
</form>

<!-- Display search results here -->
{% if books %}
<h2>Search Results:</h2>
<ul>
	{% for book in books %}
	<li>{{ book.Title }} by {{ book.Name_of_Author }}</li>
	{% endfor %}
</ul>
{% endif %}
	<!--about -->
	{% include 'about.html' %} 
	<footer>
		<p>Copyright © 2024 Library Management System. All rights reserved.</p>
	</footer>
</body>
</html>
