 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookbuddy/list</title>
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <link rel="icon" type="image/x-icon" href="logo.png">
    <script src="list.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <nav>
        <div class="dropdown">
            <button class="dropbtn">User</button>
            <i class="bi bi-person-square"></i>
            <div class="dropdown-content">
              <a href="{% url 'profilefa' %}">Profile</a>
              <a href="{% url 'profilesett' %}">Settings</a>
              <a href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
          <div class="search">
            <input type="text" name="search_query" placeholder="Search...">
            <button type="submit">Search</button> 
          </div>  
    </nav>
    <table>
        <thead>
       <tr> 
        <th>No</th>
        <th>Title</th>
        <th>Name of Author</th>
        <th>No Of Copies Available</th>
       <th>Option</th>
       </tr> 
        <tr>
        <td>0001</td>
        <td>
         Introduction to Algorithms
        </td><td></td>
        <td>10
        </td>
        <td>
            <button>REQUEST</button>
        </td>
       </tr>
       <tr>
        <td>0002</td>
        <td>
         Data Structures
        </td><td></td>
        <td>6
        </td>
        <td>
            <button>REQUEST</button>
        </td>
       </tr>
       <tr>
        <td>0003</td>
        <td>
         Artificial Intelligence
        </td><td></td>
        <td>10
        </td>
        <td>
            <button>REQUEST</button>
        </td>
       </tr> 
    </table>
</body>
</html>