{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/pp.css' %}">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
    <!-- Navbar top -->
    <div class="navbar-top">
        <div class="title">
            <h1>Profile</h1>
        </div>

        <!-- Navbar -->
        <ul>
            <li>
                <a href="#message">
                    <span class="icon-count">0</span>
                    <i class="fa fa-envelope fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="#notification">
                    <span class="icon-count">{{ total_fine}}</span>
                    <i class="fa fa-bell fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}">
                    <i class="fa fa-sign-out-alt fa-2x"></i>
                </a>
            </li>
        </ul>
        <!-- End -->
    </div>
    <!-- End -->

    <!-- Sidenav -->
    <div class="sidenav">
        <div class="profile">
            <img src="{% static 'images/logo.png' %}" alt="" width="90" height="100">

            <div class="name">
                Book Buddy
            </div>
            <div class="mtype">
                Member
            </div>
        </div>

        <div class="sidenav-url">
            <div class="url">
                <a href="#profile" class="active">Profile</a>
                <hr align="center">
            </div>
            <div class="url">
                <a href="{% url 'profilesett' %}">Settings</a>
                <hr align="center">
            </div>
        </div>
        <h1> Fine:Rs.{{ total_fine}}</h1>

    </div>
    <!-- End -->

    <!-- Main -->
    <div class="main">
        <h2>DETAILS:</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <table>
                    <tbody>
                        <tr><td>Name : {{ user.first_name }}</td></tr>
                        <tr><td>Username : {{ user.username }}</td></tr>
                        <tr><td>Email : {{ user.email }}<td></tr>

                    </tbody>
                </table>
            </div>
        </div>

{% block content %}
<!--<h1>Profile</h1>-->
<h2>Borrowed Books</h2>
<ul class="card">
    {% for book in borrowed_books %}
    <li>
        {{ book.b_bookid.Title }} - Due Date: {{ book.b_return_date }}
        {% if fines.book.id > 0 %}
        <p style="color: red;">Fine: ${{ fines.book.id }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}

        <!--borrowerd books display
        <h2>Borrowed Books:</h2>
        <div class="card">
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Return Date</th>
                            <th>Fine</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in borrowed_books %}
                        <tr>
                            <td>{{ book.b_bookid.Title }}</td>
                            <td>{{ book.b_return_date }}</td>
                            <td>
                                {% if book.calculate_fine > 0 %}
                                <span style="color: red;">${{ book.calculate_fine }}</span>
                                {% else %}
                                $0
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>-->
        
</body>
</html>
