{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Buddy:Register</title>
</head>
<body>{% block content%}
    <div class="Guide">
        <h3>Guidelines</h3>
        <ul>
          <li>A member can keep only 3 books at a time.</li>
          <li>Books should be returned before due date.</li>
          <li>Due date is 14 days from request date.</li>
          <li>After due date,fine will be charged.</li>
        </ul>
      </div>   
    <form action="register" method="POST" >
      {% csrf_token %}
        <label for="htmlfor">Name</label><br/>
        <input type="text" name="Name" id="" placeholder="Name"><br/>
        <label for="htmlfor">ID number</label><br/>
        <input type="text" name="idno" id="" placeholder="Enter ID" required><br/>
        <label for="htmlfor">Email</label><br/>
        <input type="text" id="emailid" name="emailid" placeholder="email" required><br/>
        <label for="htmlfor">Username</label><br/>
        <input type="text" id="" name="u_name" placeholder="username" required><br/>
        <label for="htmlfor">Password</label><br/>
        <input type="password" id="pwd" name="pwd1" placeholder="password" required><br/>
        <input type="password" id="pwd" name="pwd2" placeholder="confirm the password" required><br/>
        <input type="submit" value="Submit"> 
      </form>
      <p>
        {% if user %}
        New user created
        {% endif %}
      </p>
      {% endblock content %}
</body>
</html>


    

