<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="repo.css">
    <title>BookBuddy:Reports</title>
</head>
<body>
    <script src="//www.amcharts.com/lib/4/core.js"></script>
<script src="//www.amcharts.com/lib/4/charts.js"></script>
<!-- <script src="https://www.amcharts.com/lib/version/4.0.16/core.js"></script>
<script src="https://www.amcharts.com/lib/version/4.0.16/charts.js"></script> -->
<script src="//www.amcharts.com/lib/4/themes/animated.js"></script>
<nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="register.html">Register</a></li>
    <li><a href="logg.html">Login</a></li>
    <li><a href="about.html">About</a></li>
  </ul>
</nav>
<h2 class="chart-title">
  <small id="chart-figure-type" class="type" style="color: blue;">Total Number Of Books:</small>
  <span id="chart-figure" class="figure">30</span>
</h2>
<div id="chartdiv"></div>
<div class="barchart-wrapper">
  <h3 class="cat-header">
    <span id="cat-header-text">More taken book</span>
    <span id="cat-header-stats"></span>
  </h3>
  <div id="barchart"></div>
</div>
    <script src="repo.js"></script>
</body>
</html>