@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");

body {
  font-family: "Archivo Narrow";
/*   background-color: #333; */
  color: #002c49;
}

#chartdiv {
  width: 55%;
  height: 550px;
  max-height: 550px;
  float: left;
  box-sizing: border-box;
}
.chart-title{
  font-size: 40px;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.chart-title > .type{
  display: inline-block;
  font-size: .6em;
  color: #B2B2B2;
  vertical-align: super;
  position: relative;
  top: 4px;
}
.barchart-wrapper{
  width: 45%;
  float: right;
  box-sizing: border-box;
}

.cat-header{
  padding: 0px 10px;
}
#cat-header-stats{
  float: right;
  font-weight: 300;
}

#barchart {
  height: 525px;
  max-height: 525px;
  box-sizing: border-box;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: black;*/
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color:rgb(14, 28, 68);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  font-size: larger;
  }
  li a:hover{
    color: red;
  }
  body{
    background: url(images/img2.jpg);
    background-size: cover;
  }