{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Book Buddy</title>
	<link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<script src="{% static 'bb/js/script.js' %}"></script>
</head>
<body>
<h2 style="padding-left: 30px;">Find your favourite book    
    <input type="text" id="searchbar">
    <button onclick="searchBook()">Search</button></h2>
    <ul>
        {% for book in books %}
            <li>{{ book.title }}</li>
        {% endfor %}
    </ul>
    {% comment "" %}
<div class="container">			
   <ul id='list'>
      <li class="books">Artificial Intelligence</li>
      <li class="books">Automata Theory</li>
      <li class="books">Computer vision</li>
      <li class="books">Introduction to Algorithms</li>
      <li class="books">Data Structures</li>
      <li class="books">API</li>
  </ul>
</div>{% endcomment %}
</body>
<script>
    function searchBook() {
        var input = document.getElementById('searchbar').value.toLowerCase();
        window.location.href = '/search_book/?searchbar=' + input;
    }
</script>
</html>