{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Book Buddy</title>
	<link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
     <h2 style="padding-left: 30px;">Find your favourite book    
    <input type="text" id="searchbar"></h2>

    <form method="GET">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    {% if query %}
        <h2>Results for '{{ query }}'</h2>
        <ul>
            {% for book in results %}
                <li>{{ book.title }} by {{ book.author }}</li>
            {% empty %}
                <li>No results found.</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
</div>
</body>
</html>
