#borrower_list{
    background: rgba(0,0,0,.75);
    width: 92.5%;
    height: 385px;
    left: 25px;
    overflow-y: scroll;
    border-radius: 7.5px;
    &::-webkit-scrollbar {
        display: none;
    }
    table{
        background: rgba(256,256,256,.75);
        border-radius: 7.5px;
        
        thead{
            color: #1a1a1a;
        }
        tbody{
            color: #262626;
        }
        
    }
}

#insertion_section{
    background: rgba(0,0,0,.75);
    border-radius: 7.5px;
    padding: 15px 10px 15px 10px;
    width: 100%;
    .form-group{
        width: 90%;
        margin-left: 10%;

        input,label{
            width: 90%;
        }
        input{
            opacity: .20;
            transition: .5s;
            outline: none;
        }

        #two-section{
            margin-left: -7.5%;
            input{
                width: 85%;
            }
        }
        button{
            margin-left: -5%;
        }

    }

}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    height: 100%;
    background-image: url("https://cdn.wallpapersafari.com/91/90/Bmhy8U.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover ;
    background-position: center;
    background-repeat: repeat;
}
/* 
Wallpaper
Source: https://wallpapersafari.com/hd-library-wallpaper/ 
*/
.container{
    position: relative;
    top: 15%;
}
h1{
    font-size: 50px;
}
.nav:link{
    background-color: white;
    color: black;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .nav:hover{
    background-color: red;
    color: white;
  }
@media (max-width: 976px){
    #one-page{
        height: 150%;
        background-image: url("https://cdn.wallpapersafari.com/91/90/Bmhy8U.jpg");
        background-size: auto;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto ; 
    }
}
h3{
    color: aliceblue;
}
/*
button{
    border-radius: 20px;
    float: right;
    font-size: large;
    width:10%;
}*/