body {
background: url(https://itkamtech.com/storage/uploads/blogs/library-slider-img-3_1653482722.jpg);
background-size: cover;
}
h1{
	color: rgb(114, 62, 62);
	padding: 1em;
}
table,th{
    border: 1px solid white;
    color: brown;
    width: 1000px;
    text-align: center;
    font-size: larger;
    background-color: #cff2f761;
    position: center;
}
td{
    border: 1px solid rgb(0, 0, 0);
    color: rgb(68, 95, 56);
    width: 1500px;
    text-align: center;
    font-size: larger;
    background-color: #1bbcd175;
}
button{
    display: inline-block;
    border: 10px black;
    background-color:#1bbbd1;
}
button:hover{
    background-color:rgba(130, 228, 235, 0.726) ;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #1bbbd1;}
  .search{
    float: right;
    width: 25%;
    height: 25%;
  }
  .nav:link {
    background-color: rgb(59, 124, 185);
    color: black;
    border: 2px solid ;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .nav:hover {
    color: white;
  }