#book_list {
    background: rgba(0,0,0,.75);
    width: 100%;
    overflow-y: auto;  /* Enable vertical scroll */
    max-height: 600px; /* Adjust as needed */
    border-radius: 7.5px;
}

#insertion_section {
    background: rgba(0,0,0,.75);
    border-radius: 7.5px;
    padding: 15px 10px 15px 10px;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

#one-page {
    height: 100%;
    background-image: url("https://cdn.wallpapersafari.com/91/90/Bmhy8U.jpg");
    background-size: cover;
}

.container {
    position: relative;
    top: 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    font-size: 50px;
}

@media (max-width: 976px) {
    #one-page {
        height: 150%;
        background-image: url("https://cdn.wallpapersafari.com/91/90/Bmhy8U.jpg");
        background-size: auto;
    }
}
.nav:link {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.nav:hover {
    background-color: rgb(214, 29, 22);
    color: white;
}
