#book_list {
    background: rgba(0, 0, 0, 0.75);
    width: 45%; /* Adjusted width to fit the layout */
    height: 385px;
    overflow-y: scroll;
    border-radius: 7.5px;
    &::-webkit-scrollbar {
        display: none;
    }
    table {
        background: rgba(256, 256, 256, 0.75);
        border-radius: 7.5px;
        thead {
            color: #1a1a1a;
        }
        tbody {
            color: #262626;
        }
    }
}

#insertion_section {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 7.5px;
    padding: 15px 10px 15px 10px;
    width: 45%; /* Adjusted width to fit the layout */
    .form-group {
        width: 90%;
        margin-left: 10%;
        input, label {
            width: 90%;
        }
        input {
            opacity: 0.20;
            transition: 0.5s;
            outline: none;
        }
        #two-section {
            margin-left: -7.5%;
            input {
                width: 85%;
            }
        }
        button {
            margin-left: -5%;
        }
    }
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

#one-page {
    height: 100%;
    background-image: url("https://cdn.wallpapersafari.com/91/90/Bmhy8U.jpg");
    background-size: auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
}

.container {
    display: flex;
    justify-content: space-between; /* Adjust this to add spacing between sections */
    position: relative;
    top: 15%;
}

h1 {
    font-size: 50px;
}

@media (max-width: 976px) {
    #one-page {
        height: 150%;
        background-image: url("https://cdn.wallpapersafari.com/91/90/Bmhy8U.jpg");
        background-size: auto;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
    }
}

button {
    border-radius: 20px;
    float: right;
    font-size: large;
    width: 10%;
}
